
<!Doctype Html>
<Html>

<Head>
  <Title>
    Make a Navigation Bar
  </Title>
  <link rel="stylesheet" href="/static/templates/sytle_s.css">
</Head>

<Body>
  <header>
    <nav class="hov">
      <ul>
        <li>
          <a href="#"> <strong>Home</strong> </a>
        </li>
        <li>
          <a href="#"><strong> About</strong> </a>
        </li>
        <li>
          <a href="#"><strong> Contact</strong> </a>
        </li>
        <li> <a href="#"> <strong>Terms of use </strong></a>
        </li>
        <li>
          <a href="#"> <strong>Join Us </strong></a>
        </li>
      </ul>
    </nav>
  </header>
  You are at JavaTpoint Site..... /static/templates/
  <div class="blue-btn">
    <a class="first-link" href="home.html">
      Get Started
    </a>
  </div>
</Body>

</Html>